{% extends 'control_de_pendientes/layout.html' %}
{% load widget_tweaks%} 
{%block content %}

<div class="container-sm">

	<div class="card mt-5">
		<h5 class="card-header">Inicio de sesión</h5>
		<div class="card-body">	  
			<form class="form" method="post">

				{% csrf_token %}
		
				<div class="form-floating mb-3">
                    {% render_field form.username class="form-control" placeholder=".." type="text" id="floatingInput" %}
                    <label for="floatingInput">{{ form.username.label}}</label>
                </div>
				<div class="form-floating mb-3">
                    {% render_field form.password class="form-control" placeholder="." type="password" id="floatingPassword" %}
                    <label for="floatingPassword1">{{form.password.label}}</label>
                </div>
				<div class="d-flex justify-content-center">
					<button type="submit" class="btn btn-lg btn-primary">Ingresar</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
