{% extends 'control_de_pendientes/layout.html' %}
{% load widget_tweaks%} 
{%block content %}

<div class="container-md">

	<div class="card">
		<h5 class="card-header">Inicio de sesión</h5>
		<div class="card-body">
		  
			<form class="form" method="post">

				{% csrf_token %}
		
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">{{ form.username.label }}</label>
					{% render_field form.username class="form-control" placeholder="First Name" type="text" id="exampleInputEmail1" aria-describedby="emailHelp" %}
					<!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
				</div>
		
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">{{ form.password.label }}</label>
					{% render_field form.password class="form-control" placeholder="******" type="password" id="exampleInputPassword1" %}
					<!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
				</div>
		
				<div class="d-flex justify-content-center">
					<button type="submit" class="btn btn-lg btn-primary">Ingresar</button>
				</div>
		
			</form>
		</div>
	  </div>
</div>

{% endblock %}
