{% extends 'control_de_pendientes/layout.html' %}
{% load widget_tweaks%} 

{% block content %}
<div class="container-md">
    <div class="card">
        <h5 class="card-header">Registrarse</h5>
        <div class="card-body">
            <form class="form" method="POST">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {% render_field form.username class="form-control" placeholder=".." type="text" id="floatingInput" %}
                    <label for="floatingInput">{{ form.username.label}}</label>
                </div>
                <div class="form-floating mb-3">
                    {% render_field form.email class="form-control" placeholder="." type="email" id="floatingInput1" %}
                    <label for="floatingInput1">{{form.email.label}}</label>
                </div>
                <div class="form-floating mb-3">
                    {% render_field form.password1 class="form-control" placeholder="." type="password" id="floatingPassword1" %}
                    <label for="floatingPassword1">{{form.password1.label}}</label>
                </div>
                <div class="form-floating mb-3">
                    {% render_field form.password2 class="form-control" placeholder="." type="password" id="floatingPassword2" %}
                    <label for="floatingPassword2">{{form.password2.label}}</label>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-lg btn-primary">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
